<body>
  <div class="col-xl-2">
    <div class="card mx-auto bar left">
      <div class="card-header">
        Resumuffin
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><button routerLink="/">Home</button></li>
        <li class="list-group-item"><button routerLink="/tags">Tags</button></li>
        <li class="list-group-item"><button routerLink="/users">Users</button></li>
      </ul>
    </div>
  </div>

  <div class="col-xl-4 mx-auto featured">
    <div>
      <h1>Users</h1>
      <table>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
      </table>
      <!-- <ul style="text-align: left;" *ngIf="users">
        <li *ngFor="let user of users">
          <h3>{{ user.username }}</h3>
          <h5>{{ user.email }}</h5>
        </li>
      </ul> -->
    </div>
  </div>
</body>
