.left {
    margin-top: 1%;
    position:fixed;
}

.standard {
    margin-top: 5%;
}

.featured {
    margin-top: 1%;
}

.page-menu {
    justify-content: center;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

td{
    border-bottom: 1px solid;
    border-bottom-color: rgb(10, 10, 10);
}

th{
    border-right-width:medium;
    width: 25%;
    border-bottom: 2px solid black;
}