<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <header id="navBar">
    <div class="navigation-bar">
      <a routerLink="/"><img class="resize" src="https://raw.githubusercontent.com/resumuffin/media/master/logo.png"></a>
      <ul>
        <li *ngIf="isLoggedIn()" id="nav-username">{{getUsername()}}</li>
        <li><a *ngIf="isLoggedIn()" class="navButton" routerLink="/profile">Profile</a></li>
        <li><a *ngIf="!isLoggedIn()" id="login" class="navButton" routerLink="/login">Login</a></li>
        <li><a *ngIf="!isLoggedIn()" id="login" class="navButton" routerLink="/register">Register</a></li>
        <li><a *ngIf="isLoggedIn()" (click)="logout()" id="logout" routerLink="/" class="navButton">Logout</a></li>
        <li><a *ngIf="isLoggedIn()" id="post" class="navButton" href="#" routerLink="/upload">Post</a></li>
        <li><a id="help" class="navButton" href="#" routerLink="/help">Help</a></li>
      </ul>
    </div>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>
