html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

header{
    height: 10%;
}

#navBar{
    height: 10%;
    margin: 0 auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: lightgrey;
}

#title{
    width: 25%;
    display:inline-block;
    height: 90%;
}

#title a {
    padding-left: 3em;
    justify-content: center;
    align-items: center;
}
#logo {
    height:100%;
}

#navButtons{
    width: 25%;
    height: auto;
    display:inline-block;
    text-align: center;
}

#search{
    text-align: center;
    width: 50%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar{
    width:75%;
    height:75%;
}

.spacer{
    width:15px;
    height:auto;
    display:inline-block;
}

.navButton{
    width: 29%;
    padding: 5%;
    margin: 0 auto;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus{
    border-color:#4d90fe;
}

input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
