html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
  height: 10%;
}

img.resize {
  max-width: 70%;
  max-height: 70%;
}

#search {
  text-align: center;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar {
  width: 75%;
  height: 75%;
}

.spacer {
  width: 15px;
  height: auto;
  display: inline-block;
}

.navButton {
  width: 29%;
  padding: 5%;
  margin: 0 auto;
}

input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus {
  border-color: #4d90fe;
}

input {
  border: none;
  padding: 10px;
  margin: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid #eaeaea;
  outline: none;
}

.logo {
  float: left;
}

/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: rgb(3, 14, 44);
  height: 70px;
  width: 100%;
  text-align: center;
}

.navigation-bar img {
    clear: both;
  float: left;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  padding: 0px;
  vertical-align: center;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  display: inline;

}

.navigation-bar li a {
  color: whitesmoke;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
    clear: both;

  float: right;
}

#nav-username {
  display: inline-box;
  padding: 5px;
  border-radius: 15px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:#F9C084;
  color: black;
}
