.left {
    margin-top: 1%;
    position:fixed;
}

.standard {
    margin-top: 5%;
}

.featured {
    margin-top: 1%;
}

.page-menu {
    justify-content: center;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
