
<body>
  <br>
  <div class="col-xl-2">
      <div class="card mx-auto bar left">
        <div class="card-header">
          Resumuffin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Home</li>
          <li class="list-group-item">Tags</li>
          <li class="list-group-item">Users</li>
          <li class="list-group-item">Jobs</li>
        </ul>
      </div>
    </div>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">     
    <div id="bodyDiv">
      <div id="titleDiv">
        <h1 id="title">Upload a Resumé</h1>
        <hr>
        <span>Click "Choose File" to select a resumé to upload from your computer. You will have an opportunity to add tags and a description to your resumé post.</span>
        <br>
        <br>
        <input name="resume" type="file" (change)="onSelectFile($event)">
        <br>
        <br>
        <button type="submit" class="btn btn-info">Upload Resumé</button>
        <br>
        <br>
        <div id="infoPrompt" [style.display]="isVisible ? 'flex' : 'none'">
          Please fill out the information below, then press "Upload" to upload your resumé.
        </div>
      </div>
    </div>
  </form>
  <br>
  <div id="hiddenDiv" [style.display]="isVisible ? 'flex' : 'none'">
    <div id="infoDiv">
      <span id="tagsPrompt">Add tags describing your resumé and desired in the box below, separated by commas. Example tags: "Computer Science", "Entry Level", "Full Stack".</span>
      <br>
      <input type="text" id="tags">
      <br><br>
      <span id="descPrompt">Describe what aspect of your resumé you want users to comment on such as "Please check my grammar", "How should I list my experience?" or "How do I make my projects stand out?".</span>
      <br>
      <textarea id="desc" rows="3"></textarea>
      <br>
      <br>
      <div id="buttons">
          <button class="btn btn-success" id="upload">Upload</button>
          <div class="spacer"></div>
          <button class="btn btn-danger" id="cancel">Cancel</button>
        </div>
    </div>
  </div>
  
  
</body>
