html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    
}

.left {
    margin-top: 1%;
    position:fixed;
}

.standard {
    margin-top: 5%;
}

.featured {
    margin-top: 1%;
}

.page-menu {
    justify-content: center;
}

#bodyDiv{
    width:100%;
    display: flex;
    height: 80%;
    justify-content: center;
    align-content: center;
}

#hiddenDiv{
    width:100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

#titleDiv{
    padding: 2%;
    width: 50%;
    height: 95%;
    border: 3px solid gray;
}

#infoDiv{
    padding: 1%;
    width: 50%;
    height: 50%;
    background-color: lightgray;
    border-radius: 1%;
}

#tags, #desc{
    width: 100%;
}

.spacer{
    width:15px;
    height:auto;
    display:inline-block;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
.left {
margin-top: 1%;
position: fixed;
}