<body>
    <div class="col-xl-2">
      <div class="card mx-auto bar left">
        <div class="card-header">
          Resumuffin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><button class="side-nav" routerLink="/">Home</button></li>
          <li class="list-group-item"><button class="side-nav" routerLink="/tags">Tags</button></li>
          <li class="list-group-item"><button class="side-nav" routerLink="/users">Users</button></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-8 mx-auto featured">
      <div class="center">
        <h1>{{title}}</h1> 
        <span>Uploaded by {{ownerUsername}}</span> 
        <br>
        <br>
        <div id="resumeDiv1" [style.display]="image ? 'flex' : 'none'">
          <img id="resImg" src={{resSrc}}>
        </div>
        <div id="resumeDiv2" [style.display]="image ? 'none' : 'flex'">
          <div id="resumeDisplay">
            <pdf-viewer #pdfViewer [autoresize]="true" [src]="resSrc" [render-text]="true" [original-size]="false" style="display: block; border: 1px solid black; width: 100%;"></pdf-viewer>
          </div>
        </div>
        <br>
        <span id="description">{{description}}</span>
        <br>
        <hr>
        <h3>Comments</h3>
        <textarea [style.display]="loggedIn ? 'flex' : 'none'" #comment id="commentBox" rows="3" style="width: 100%"></textarea>
        <br>
        <button [style.display]="loggedIn ? 'flex' : 'none'" class="btn btn-success" id="commentButton" (click)="addComment(comment.value)">Add Comment</button>
        <br>
        <br> 
        <div class="comment" *ngFor="let comment of comments">
          <div class="commentStyle">
            <span class="username"><strong>{{comment.title}}</strong></span>
            <br>
            <span class="commentBody">{{comment.description}}</span>
            <br>
            <button class="btn btn-danger" (click)="deleteComment($event)" value="{{comment.id}}" [style.display]="isAdmin ? 'flex' : 'none'">Delete</button>
          </div>
          <br>
        </div>
        <br>
      </div>
    </div>   
  </body>