<body>
    <div class="col-xl-2">
      <div class="card mx-auto bar left">
        <div class="card-header">
          Resumuffin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><button routerLink="/">Home</button></li>
          <li class="list-group-item"><button routerLink="/tags">Tags</button></li>
          <li class="list-group-item"><button routerLink="/users">Users</button></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 mx-auto featured">
      <div class="center">
        <h1>{{resumeId}}</h1>   
      </div>
    </div>   
  </body>