<body>
    <div class="col-xl-2">
      <div class="card mx-auto bar left">
        <div class="card-header">
          Resumuffin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><button routerLink="/">Home</button></li>
          <li class="list-group-item"><button routerLink="/tags">Tags</button></li>
          <li class="list-group-item"><button routerLink="/users">Users</button></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 mx-auto featured">
      <div class="center">
        <h1>Resume ID: {{resumeId}}</h1>   
        <div id="resumeDiv1" [style.display]="image ? 'flex' : 'none'">
          <img src={{resSrc}}>
        </div>
        <div id="resumeDiv2" [style.display]="image ? 'none' : 'flex'">
          <div id="resumeDisplay">
            <pdf-viewer #pdfViewer [autoresize]="true" [src]="resSrc" [render-text]="true" [original-size]="false" style="display: block; border: 1px solid black; width: 100%;"></pdf-viewer>
          </div>
        </div>
        <hr>
        <h3>Comments</h3>
        <textarea #comment id="commentBox" rows="3" style="width: 100%"></textarea>
        <br>
        <button class="btn btn-success" id="commentButton" (click)="addComment(comment.value)">Add Comment</button>
        <br>
      </div>
    </div>   
  </body>