<body>
  <div class="col-xl-2">
    <div class="card mx-auto bar left">
      <div class="card-header">
        Resumuffin
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><button routerLink="/">Home</button></li>
        <li class="list-group-item"><button routerLink="tags">Tags</button></li>
        <li class="list-group-item"><button routerLink="users">Users</button></li>
      </ul>
    </div>
  </div>
  <div class="col-xl-7 mx-auto featured">
    <h1 style="text-align: center;">Browse Recent Resumes</h1>
    <div class="card standard text-center" *ngFor="let resume of resumes">
      <div class="card-header">
        {{ resume.title }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ resume.description }}</h5>
        <button value="{{resume.id}}" class="btn btn-primary" (click)="setId($event)" style="background-color: rgb(16, 16, 73)">View</button>
      </div>
      <div class="card-footer text-muted">
        {{ resume.tags }}
      </div>
    </div>
    
    <nav aria-label="pagination">
      <ul class="pagination standard page-menu">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
